.active-link {
  border: 1px solid #007bff !important;
  border-radius: 50%
}

.page-link {
  margin: 5px;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-align: center;

  &:hover {
    background: transparent;
  }

  &.disabled {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed !important;

    &:hover {
      color: #777;
    }
  }
}

.prev,
.next {
  width: auto;
}

.prev::before {
  margin-right: 5px;
  content: "←";
}

.next::after {
  margin-left: 5px;
  content: "→";
}

.products__pagination {
  display: flex;
  justify-content: space-between;

  & span {
    padding-top: 10px;
  }
}