$color_primary:#337ab7;

.product__form {
  &--warpper {
    border: 1px solid $color_primary;
    border-radius: 4px;
    height: 100%;
  }

  &-heading {
    color: #fff;
    background-color: $color_primary;
    padding: 10px 15px;
    border-bottom: 1px solid $color_primary;
    font-size: 25px;
  }

  &-content {
    padding: 25px 15px;
  }

  .error_message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }
}